/*Base Styles, containers, wrappers, sections*/

body {
    font-family: $font-family-base;
    color: $text-color;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.container {
    // min-width: 1170px;
    // max-width: none !important;
}
.wrapper {
    // background: #FFFFFF;
    // box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.20);
}