/* Modules and Mixins */

/* EXTERNAL MODULES */

/* slick */
@import '../lib/slick/_slick.scss';
@import '../lib/slick/_slick-theme.scss';

/* owl-carousel */
@import '../lib/owl-carousel/_owl.carousel.scss';
@import '../lib/owl-carousel/_owl.theme.scss';

/*fancy-box*/
@import '../lib/fancybox/_jquery.fancybox.scss';

/*magnific-popup*/
@import '../lib/magnific/main.scss';

/*magnific popup css*/
.mfp-content {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}






//--------------------------------------------------------------------------

/* MY MODULES */

/*wp_page_navi*/
.wp-pagenavi {
    text-align: center;
    margin-top: 40px;
    a, span {
        padding: 10px 15px;
        text-decoration: none;
    }
    span.current {
        background-color: $brand-primary;
        color: #FFF;
    }
}






//--------------------------------------------------------------------------
// MIXINS & EXTENDED
//@extend %clr_btn;
//@include placeholder(14px,normal,#ccc); 


//@EXTEND

/*clear_btn*/
%clr_btn {
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

/*material shadow*/
%material_sh {
   box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
}





//@INCLUDE

/*placeholder CSS*/
@mixin placeholder($font-size, $font-weight, $color) {
    ::-webkit-input-placeholder {
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
    }
    ::-moz-placeholder {
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
    }
    :-moz-placeholder {
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
    }
    :-ms-input-placeholder {
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
    }
}